
.container-1 {
    display: flex;
    gap: 20px;
    padding: 10px;
}


.box-1,
.box-2,
.box-3 {
    border: 10px solid rgb(71, 219, 252);
}

.hidden-content {
    margin-top: 100px;
}

.container-2 {
    display: flex;
}

.hidden-content {
    display: none;
}

.hidden-content.reveal-btn {
    display: block;
}